.zone {
    width: 10px;
    height: 10px;
    position: absolute;
    /*background: red;*/
    background-image:
            radial-gradient(
                    circle,
                    #ff5516,
                    rgba(255, 85, 22, 0)
            );
    border-radius: 5px;
    cursor: pointer;
}
